body {
    background-color: rgb(23, 28, 38);
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
}

a {
    text-decoration: none;
}

#guestContainer {
    margin-top: 20em;
    justify-content: center;
    display: flex;
}

input {
    border-radius: 8px;
    font-family: 'Mukta', sans-serif;
    background-color: rgba(64, 70, 83, 0.467);
    color: rgb(255, 255, 255);
    font-size: 22px;
    outline: 0 none;
    border-color: rgba(78, 69, 70, 0.075);
    padding: 5px;
    margin: 10px;
    text-align: center;
    box-shadow: 10px 10px 20px -22px gray;
}

.guestWrapper {
    background-color: rgba(34, 39, 51, 0.42);
    box-shadow: 5px 5px 30px rgb(20, 20, 20);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    font-family: 'Mukta', sans-serif;
    border-color: rgba(229, 23, 195, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 10px rgba(229, 23, 195, 0.8);
    outline: 0 none;
}

#loginGuest:hover {
    box-shadow: 0 10px 30px rgba(23, 71, 229, 0.075) inset, 0 5px 20px rgba(229, 23, 195, 0.8);
}

.guestTitle {
    text-align: center;
    width: 100%;
}

#guestForm {
    width: 100%;
    text-align: center;
}

#loginGuest {
    font-family: 'Mukta', sans-serif;
    color: rgba(255, 255, 255, 0.514);
    background: rgb(238, 3, 249);
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
    border: none;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.555);
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 20px;
}

nav li a {
    font-family: 'Mukta', sans-serif;
    color: rgba(190, 190, 190, 0.404);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(73, 73, 73, 0.616);
}

nav li a:hover {
    color: rgb(238, 3, 249);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(229, 23, 195, 0.8);
}

#mainWrapper {
    display: flex;
    border-color: rgba(78, 69, 70, 0.075);
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}

#containLeft {
    height: 100%;
    padding: 20px;
    width: 0%;
}

.channelCurrent {
    width: 7em;
    height: 63%;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 8px;
    box-shadow: 10px 10px 20px -22px gray;
}

#navDiv {
    border-color: rgba(78, 69, 70, 0.075);
    width: 100%;
    position: relative;
    box-shadow: 10px 10px 20px -22px gray;
}


ul li a::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    top: 100%;
    left: 10px;
    background: rgb(238, 3, 249);
    transition: transform 1s;
    transform: scaleX(0);
    transform-origin: right;
    box-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

a:active {
    color: rgb(238, 3, 249);
    text-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

#sendButton {
    font-family: 'Mukta', sans-serif;
    color: rgba(255, 255, 255, 0.514);
    background: rgb(238, 3, 249);
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
    border: none;
    width: 10%;
    font-size: 28px;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.555);
    border-radius: 5px;
    position: absolute;
    margin: 0;
    left: 70%;
}

.chatBoxWrapper {
    display: flex;
    justify-content: center;
}

.chatBox {
    width: 100%;
    bottom: 0;
    margin-bottom: 2em;
    position: fixed;
}

.chat {
    display: flex;
    justify-content: center;
}

#sendText {
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.514);
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
}

#sendText:hover {
    cursor: pointer;
}

.nameDisplay {
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
    margin-left: 20px;
}

.score {
    color: rgb(255, 255, 255);
    font-family: 'Mukta', sans-serif;
    text-align: center;
}

.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}

.gg-close::after, .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.gg-close::after {
    transform: rotate(-45deg)
}

.profileImg {
    margin-left: 20px;
    background: rgb(238, 3, 249);
    border: 0.1em solid rgb(255, 185, 249);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    box-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}
