* {
    font-family: 'Mukta', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(23, 28, 38);
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
}

h1 {
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.4em;
}

.a:hover {
    cursor: pointer;
}

.a:hover {
    cursor: pointer;
}

input {
    border-radius: 8px;
    background-color: rgba(53, 53, 53, 0.467);
    color: rgb(255, 255, 255);
    font-size: 18px;
    outline: 0 none;
    border-color: rgba(78, 69, 70, 0.075);
    padding: 5px;
    margin: 10px;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
}

textarea {
    border-radius: 8px;
    background-color: rgba(53, 53, 53, 0.467);
    color: rgb(255, 255, 255);
    font-size: 18px;
    outline: 0 none;
    border-color: rgba(78, 69, 70, 0.075);
    padding: 5px;
    margin: 10px;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
    box-sizing: border-box;
    height: auto;
}

#guestContainer {
    display: flex;
    z-index: 999;
    justify-content: center;
    position: absolute;
}

.guestWrapper {
    background-color: rgba(34, 39, 51, 0.9);
    box-shadow: 5px 5px 30px rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 23, 195, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 10px rgba(229, 23, 195, 0.8);
    outline: 0 none;
}

#guestTitle {
    margin: 0;
}

#guestForm {
    width: 100%;
    text-align: center;
}

#loginButton.li {
    margin-left: auto;
    margin-right: auto;
}

nav .ul {
    display: flex;
    justify-content: space-between;
}

#channelThemeWrapper {
    display: flex;
}

#channelTitle {
    margin-right: 20px;
}

.conversationText {
    font-size: 1.3em;
    font-weight: 900;
    margin-left: .5em;
    color: rgb(255, 255, 255);
}

.conversationUser {
    font-weight: 900;
    font-size: 1.3em;
    animation: conversationUser 5s ease infinite;
    -moz-animation: conversationUser 5s ease infinite;
    -webkit-animation: conversationUser 5s ease infinite;
}

@keyframes conversationUser {
    0%, 100% {
        text-shadow: 0 0 1px rgb(255, 251, 250), 0 0 3px rgb(223, 22, 250), 0 0 10px rgb(250, 22, 182), 0 0 10px rgb(22, 223, 250), 0 0 .4px rgb(42, 254, 254), .5px .5px .1px rgb(65, 137, 155);
        color: rgb(254, 40, 236);
    }
    50% {
        text-shadow: 0 0 .5px rgb(246, 145, 255), 0 0 1.5px rgb(197, 84, 163), 0 0 5px rgb(163, 24, 163), 0 0 5px rgb(132, 64, 141), 0 0 .2px rgb(11, 114, 128), .5px .5px .1px rgb(10, 64, 46);
        color: rgb(66, 198, 202);
    }
}

nav .li .a {
    color: rgba(190, 190, 190, 0.404);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(73, 73, 73, 0.616);
}

nav .li .a p:hover {
    color: rgb(238, 3, 249);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(229, 23, 195, 0.8);
}

#mainWrapper {
    display: flex;
    border-color: rgba(78, 69, 70, 0.075);
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}

#containLeft {
    height: 100%;
    padding: 20px;
    width: 0%;
}

.channelCurrent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 7em;
    height: 44%;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 8px;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
}

.displayUserList {
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    font-weight: 900;
    padding: 6px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.channels {
    display: none;
    font-size: 1.2em;
}

.showChannel {
    display: block;
    position: absolute;
    margin-left: 23px;
    margin-top: -29px;
}

.channel:hover {
    color: rgb(255, 211, 255);
    text-shadow: 2px 0px 20px rgb(255, 255, 255);
}

#navDiv {
    margin-top: .5em;
    margin-bottom: .5em;
    border-color: rgba(78, 69, 70, 0.075);
    width: 100%;
    position: relative;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
}

.ul .li .a::after, #themesDropdownContainer::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    top: 100%;
    left: 20px;
    background: rgb(238, 3, 249);
    transition: transform 1s;
    transform: scaleX(0);
    transform-origin: right;
    box-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

.ul .li .a:hover::after, #themesDropdownContainer:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.a:active {
    color: rgb(238, 3, 249);
    text-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

.selectedChannel {
    color: rgb(255, 255, 255);
}

#conversationBoxWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.363);
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
    border-radius: 8px;
    margin-top: 4em;
    height: 60%;
    text-align: justify;
    word-break: break-all;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgb(255, 0, 255), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(255, 0, 255), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(255, 0, 255), 10px 0 80px rgb(0, 255, 255);
    scroll-behavior: smooth;
}

.conversationBox {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    max-height: 500px;
    color: rgb(255, 255, 255);
    margin: 15px;
    max-height: 100%;
    box-sizing: border-box;
    width: max-content;
    box-shadow: 0 0 60px rgb(245, 245, 245);
}

#sendButton {
    color: rgba(255, 255, 255, 0.514);
    background: rgb(238, 3, 249);
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
    border: none;
    width: 10%;
    font-size: 28px;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.555);
    border-radius: 5px;
    position: absolute;
    margin: 0;
    left: 70%;
}

.messageBox {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.chat {
    display: flex;
}

#sendText, #loginButton {
    padding: 13px;
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.514);
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
}

#sendText:hover, #loginButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgb(255, 0, 255), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(255, 0, 255), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(255, 0, 255), 10px 0 80px rgb(0, 255, 255);
}

.nameDisplay {
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.score {
    color: rgb(255, 255, 255);
    text-align: center;
}

.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}

.gg-close::after, .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.gg-close::after {
    transform: rotate(-45deg)
}

.profileImg {
    margin-left: 20px;
    background: rgb(238, 3, 249);
    border: 0.1em solid rgb(255, 185, 249);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    box-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

#logoContainer {
    margin-left: 1.7em;
}

.logo {
    background-image: url("/images/logo.svg");
    background-size: contain;
    height: 4em;
    width: 4em;
    background-repeat: no-repeat;
    margin: 4px;
}

.logo:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.logo:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#logoContainer {
    margin-top: 1em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#themesContainer {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-right: 3em;
    right: 0;
}

#themesContainer>div {
    margin: 10px;
}

#themesDropdownButton {
    color: rgba(190, 190, 190, 0.404);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(73, 73, 73, 0.616);
    margin-top: 1em;
    margin-right: 2.7em;
}

.themes:hover, #themesDropdownButton:hover {
    cursor: pointer;
    opacity: 1;
    color: rgb(238, 3, 249);
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

#themesContainer.show {
    display: flex;
    transition: ease-in;
    animation-duration: 4000ms;
}

/* DROP DOWN MENU */

/* for all the buttons to be icons */

#defaultTheme {
    background-color: rgb(99, 11, 139);
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#spaceTheme {
    background-image: url("/images/space.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#jungleTheme {
    background-image: url("/images/jungle.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#medievalTheme {
    background-image: url("/images/dagon.png");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#urbanTheme {
    background-image: url("/images/urban.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#oceanTheme {
    background-image: url("/images/ocean.png");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

/* changing the themes to what design we are wanting. use location wanting to change attached with theme. */

/* style for all the default theme items */

body.default {
    background-color: rgb(23, 28, 38);
}

body.default #defaultTheme {
    border: 0.1em solid rgb(163, 1, 163);
    box-shadow: 0px 0px 10px rgba(252, 13, 192, 0.8);
}

body.default .conversationBox {
    border: 1px solid rgb(163, 1, 163);
}

/* style for all the space theme items */

body.space {
    background-image: url("/images/space.svg");
}

body.space #sendText, body.space #loginButton {
    background: rgb(233, 118, 204);
}

body.space #sendText:hover, body.space #loginButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgb(255, 0, 255), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(255, 0, 255), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(255, 0, 255), 10px 0 80px rgb(0, 255, 255);
}

body.space .profileImg {
    background: rgb(233, 118, 204);
    border: 0.1em solid rgb(233, 118, 204);
    box-shadow: 0px 0px 10px rgba(233, 118, 204, 0.8);
}

body.space nav .li .a:hover {
    color: rgb(233, 118, 204);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(233, 118, 204, 0.8);
}

body.space .ul .li .a::after {
    background: rgb(233, 118, 204);
    box-shadow: 0px 0px 10px rgba(233, 118, 204, 0.8);
}

body.space #spaceTheme {
    border: 0.1em solid rgb(233, 118, 204);
    box-shadow: 0px 0px 10px rgba(233, 118, 204, 0.8);
}

body.space .conversationBox {
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
}

body.space #conversationBoxWrapper {
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgb(255, 0, 255), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(255, 0, 255), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(255, 0, 255), 10px 0 80px rgb(0, 255, 255);
}

/* style for all the jungle theme items */

body.jungle {
    background-image: url("/images/jungle.svg");
    background-position: left;
}

body.jungle #sendText, body.jungle #loginButton {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

body.jungle #sendText:hover, body.jungle #loginButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(19, 150, 128), inset 20px 0 80px rgb(140, 255, 184), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(0, 255, 98), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(0, 255, 21), 10px 0 80px rgb(0, 255, 255);
}

body.jungle .mesgChat {
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle .mesgChat:focus {
    border-color: rgba(23, 229, 126, 0.8);
}

body.jungle .channel:hover {
    color: rgb(101, 145, 76);
}

body.jungle .profileImg {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    border: 0.1em solid rgb(182, 244, 146);
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle nav .li .a:hover {
    color: rgb(182, 244, 146);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgb(182, 244, 146);
}

body.jungle #themesDropdownButton:hover {
    color: rgb(182, 244, 146);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgb(182, 244, 146);
    opacity: 1;
}

body.jungle nav .li .a p:hover {
    color: rgb(182, 244, 146);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgb(182, 244, 146);
}

body.jungle .ul .li .a::after, body.jungle #themesDropdownContainer::after {
    background: rgb(182, 244, 146);
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle #jungleTheme {
    border: 0.1em solid rgb(182, 244, 146);
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle .conversationBox {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    max-width: 100%;
}

body.jungle #conversationBoxWrapper {
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgb(182, 244, 146), inset -20px 0 80px rgb(51, 139, 147), inset 20px 0 300px rgb(182, 244, 146), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(182, 244, 146), 10px 0 80px rgb(182, 244, 146);
}

/* style for all the medieval theme items */

body.medieval {
    background-image: url("/images/dagon.png");
    background-position: left;
}

body.medieval #sendText, body.medieval #loginButton {
    background-image: linear-gradient( 109.6deg, rgba(5, 84, 94, 1) 16%, #bbb 91.1%);
}

body.medieval #sendText:hover, body.medieval #loginButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(38, 61, 77), inset 20px 0 80px rgb(227, 255, 238), inset -20px 0 80px rgb(10, 82, 82), inset 20px 0 300px rgb(71, 51, 107), inset -20px 0 300px rgb(212, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(56, 80, 116), 10px 0 80px rgb(176, 255, 255);
}

body.medieval #themesDropdownButton:hover {
    color: rgba(5, 84, 94, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(5, 84, 94, 1);
    opacity: 1;
}

body.medieval .profileImg {
    background: rgba(5, 84, 94, 1);
    border: 0.1em solid rgba(5, 84, 94, 1);
    box-shadow: 0px 0px 10px rgba(5, 84, 94, 1);
}

body.medieval .channel:hover {
    color: rgb(16, 50, 54);
}

body.medieval nav .li .a p:hover {
    color: rgba(5, 84, 94, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(5, 84, 94, 1);
}

body.medieval .mesgChat {
    box-shadow: 0px 0px 10px rgba(5, 84, 94, 1);
}

body.medieval .mesgChat:focus {
    border-color: rgba(5, 84, 94, 1);
}

body.medieval nav .li .a:hover {
    color: rgba(5, 84, 94, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(5, 84, 94, 1);
}

body.medieval #themesDropdownButton:hover {
    color: rgba(5, 84, 94, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(5, 84, 94, 1);
    ;
    opacity: 1;
}

body.medieval .ul .li .a::after, body.medieval #themesDropdownContainer::after {
    background: rgba(5, 84, 94, 1);
    box-shadow: 0px 0px 10px rgba(5, 84, 94, 1);
}

body.medieval #medievalTheme {
    border: 0.1em solid rgba(5, 84, 94, 1);
    box-shadow: 0px 0px 10px rgba(5, 84, 94, 1);
}

body.medieval .conversationBox {
    background-image: linear-gradient( 109.6deg, rgba(5, 84, 94, 1) 16%, rgb(187, 187, 187) 91.1%);
}

body.medieval #conversationBoxWrapper {
    box-shadow: inset 0 0 60px rgb(45, 87, 80), inset 20px 0 80px rgb(90, 130, 139), inset -20px 0 80px rgba(5, 84, 94, 1), inset 20px 0 300px rgb(255, 164, 164), inset -20px 0 300px rgba(5, 84, 94, 1), 0 0 50px rgba(5, 84, 94, 1), -10px 0 80px rgb(158, 207, 219), 10px 0 80px rgb(180, 221, 226);
}

/* style for all the urban theme items */

body.urban {
    background-image: url("/images/urban.svg");
    background-position: center top;
}

body.urban #sendText, body.urban #loginButton {
    background-image: linear-gradient( 109.6deg, rgba(253, 199, 141, 1) 11.3%, rgba(249, 143, 253, 1) 100.2%);
}

body.urban #sendText:hover, body.urban #loginButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(232, 154, 235), inset 20px 0 80px rgb(255, 230, 163), inset -20px 0 80px rgb(255, 178, 251), inset 20px 0 300px rgb(255, 192, 255), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(255, 195, 255), 10px 0 80px rgb(212, 255, 255);
}

body.urban .profileImg {
    background: rgba(249, 143, 253, 1);
    border: 0.1em solid rgba(249, 143, 253, 1);
    box-shadow: 0px 0px 10px rgba(249, 143, 253, 1);
}

body.urban #themesDropdownButton:hover {
    color: rgba(249, 143, 253, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(249, 143, 253, 1);
    opacity: 1;
}

body.urban .channel:hover {
    color: rgb(179, 47, 184);
}

body.urban nav .li a:hover {
    color: rgba(249, 143, 253, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(249, 143, 253, 1);
}

body.urban .mesgChat {
    box-shadow: 0px 0px 10px rgba(249, 143, 253, 1);
}

body.urban .mesgChat:focus {
    border-color: rgba(249, 143, 253, 1);
}

body.urban nav .li .a p:hover {
    color: rgba(249, 143, 253, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(249, 143, 253, 1);
}

body.urban .ul .li .a::after, body.urban #themesDropdownContainer::after {
    background: rgba(249, 143, 253, 1);
    box-shadow: 0px 0px 10px rgba(249, 143, 253, 1);
}

body.urban #urbanTheme {
    border: 0.1em solid rgba(249, 143, 253, 1);
    box-shadow: 0px 0px 10px rgba(249, 143, 253, 1);
}

body.urban .conversationBox {
    border: 1px solid rgb(241, 207, 11);
    background-image: linear-gradient( 109.6deg, rgba(253, 199, 141, 1) 11.3%, rgba(253, 199, 141, 1) 100.2%);
}

body.urban #conversationBoxWrapper {
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgba(249, 143, 253, 1), inset -20px 0 80px rgba(249, 143, 253, 1), inset 20px 0 300px rgba(253, 199, 141, 1), inset -20px 0 300px rgba(253, 199, 141, 1), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgba(253, 199, 141, 1), 10px 0 80px rgba(253, 199, 141, 1);
}

/* style for all the ocean theme items */

body.ocean {
    background-image: url("/images/ocean.png");
}

body.ocean #sendText, body.ocean #loginButton {
    background: linear-gradient( 110.5deg, rgba(71, 114, 148, 1) 14.9%, rgba(149, 245, 211, 1) 77.9%);
}

body.ocean #sendText:hover, body.ocean #loginButton:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(19, 207, 60), inset 20px 0 80px rgb(0, 255, 98), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(0, 255, 98), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(0, 255, 21), 10px 0 80px rgb(0, 255, 255);
}

body.ocean #sendText:hover {
    cursor: pointer;
    box-shadow: inset 0 0 60px rgb(169, 255, 188), inset 20px 0 80px rgb(0, 255, 98), inset -20px 0 80px rgb(0, 255, 255), inset 20px 0 300px rgb(0, 255, 98), inset -20px 0 300px rgb(0, 255, 255), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(0, 255, 21), 10px 0 80px rgb(0, 255, 255);
}

body.ocean .channel:hover {
    color: rgb(26, 152, 156);
}

body.ocean .profileImg {
    background: rgba(149, 245, 211, 1);
    border: 0.1em solid rgba(149, 245, 211, 1);
    box-shadow: 0px 0px 10px rgba(149, 245, 211, 1);
}

body.ocean #themesDropdownButton:hover {
    color: rgba(149, 245, 211, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    opacity: 1;
}

body.ocean nav .li .a:hover {
    color: rgb(159, 252, 255);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(180, 255, 243, 0.8);
}

body.ocean .mesgChat {
    box-shadow: 0px 0px 10px rgba(180, 255, 243, 0.8);
}

body.ocean .mesgChat:focus {
    border-color: rgba(180, 255, 243, 0.8);
}

body.ocean nav .li .a p:hover {
    color: rgba(180, 255, 243, 0.8);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(180, 255, 243, 0.8);
}

body.ocean .profileImg {
    background: rgba(149, 245, 211, 1);
    border: 0.1em solid rgba(149, 245, 211, 1);
    box-shadow: 0px 0px 10px rgba(149, 245, 211, 1);
}

body.ocean nav .li .a:hover {
    color: rgba(149, 245, 211, 1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(149, 245, 211, 1);
}

body.ocean .ul .li .a::after, body.ocean #themesDropdownContainer::after {
    background: rgba(149, 245, 211, 1);
    box-shadow: 0px 0px 10px rgba(149, 245, 211, 1);
}

body.ocean #oceanTheme {
    border: 0.1em solid rgba(149, 245, 211, 1);
    box-shadow: 0px 0px 10px rgba(149, 245, 211, 1);
}

body.ocean .conversationBox {
    border: 1px solid rgba(149, 245, 211, 1);
    background: linear-gradient( 110.5deg, rgba(71, 114, 148, 1) 14.9%, rgba(149, 245, 211, 1) 77.9%);
}

body.ocean #conversationBoxWrapper {
    box-shadow: inset 0 0 60px rgb(245, 245, 245), inset 20px 0 80px rgb(154, 255, 225), inset -20px 0 80px rgb(143, 150, 253), inset 20px 0 300px rgb(141, 217, 253), inset -20px 0 300px rgb(143, 141, 253), 0 0 50px rgb(255, 255, 255), -10px 0 80px rgb(141, 203, 253), 10px 0 80px rgb(141, 212, 253);
}

/* MEDIA QUERIES */

@media screen and (max-width: 994px) {
    #conversationBoxWrapper {
        width: 70%;
    }
}

@media screen and (max-width: 810px) {
    #conversationBoxWrapper {
        width: 60%;
    }
    .profileImg {
        margin-left: 8px;
        height: 3.3em;
        width: 3.3em;
    }
    .nameDisplay {
        margin-left: 7px;
        font-size: 1.4em;
    }
    .channelCurrent {
        width: 5em;
        height: 46%;
    }
}

@media screen and (max-width: 617px) {
    #conversationBoxWrapper {
        width: 50%;
    }
    textarea {
        width: 18em;
    }
    .profileImg {
        margin-left: 8px;
        height: 3.3em;
        width: 3.3em;
    }
    .nameDisplay {
        margin-left: 7px;
        font-size: 1.4em;
    }
    .channelCurrent {
        width: 4em;
    }
}

/* MOBILE MEDIA QUERIES */

@media screen and (max-width: 499px) {
    p {
        font-size: 18px;
        margin-left: 4px;
        margin-right: 4px;
    }
    #conversationBoxWrapper {
        height: 55%;
        margin-top: 1em;
        margin-left: 4.4em;
        width: 60%;
    }
    textarea {
        width: 10em;
    }
    .profileImg {
        margin-left: 8px;
        height: 3em;
        width: 3em;
    }
    .nameDisplay {
        margin-left: 7px;
        font-size: 1.2em;
    }
    .channelCurrent {
        width: 4em;
        height: 31%;
    }
    .conversationBox {
        padding: 7px;
    }
    .conversationUser, .conversationText {
        font-size: .9em;
    }
    .logo {
        margin-top: -6px;
        height: 3em;
        width: 3em;
    }
}