* {
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: rgb(23, 28, 38);
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y:hidden;
}

h1 {
    color: rgb(255, 255, 255);
}

.a {
    text-decoration: none;
}

.a:hover {
    cursor: pointer;
}

#guestContainer {
    margin-top: 20em;
    justify-content: center;
    display: flex;
}

input {
    border-radius: 8px;
    background-color: rgba(53, 53, 53, 0.467);
    color: rgb(255, 255, 255);
    font-size: 18px;
    outline: 0 none;
    border-color: rgba(78, 69, 70, 0.075);
    padding: 5px;
    margin: 10px;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
}

.guestWrapper {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(34, 39, 51, 0.42);
    box-shadow: 5px 5px 30px rgb(20, 20, 20);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 23, 195, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 10px rgba(229, 23, 195, 0.8);
    outline: 0 none;
}

#loginGuest:hover {
    box-shadow: 0 10px 30px rgba(23, 71, 229, 0.075) inset, 0 5px 20px rgba(229, 23, 195, 0.8);
}

.guestTitle {
    text-align: center;
    width: 100%;
}

#guestForm {
    width: 100%;
    text-align: center;
}

#loginGuest {
    color: rgba(255, 255, 255, 0.514);
    background: rgb(238, 3, 249);
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
    border: none;
    margin-top: 10px;
    font-size: 28px;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.555);
    border-radius: 8px;
    padding-left: 1em;
    padding-right: 1em;
}

nav .ul {
    display: flex;
    justify-content: center;
}

nav .li {
    list-style: none;
    margin: 20px;
}

#channelTitle {
    margin-right: auto;
}

nav .li .a {
    margin-top: 1.4em;
    color: rgba(190, 190, 190, 0.404);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(73, 73, 73, 0.616);
}

nav .li .a:hover {
    color: rgb(238, 3, 249);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(229, 23, 195, 0.8);
}

#mainWrapper {
    display: flex;
    border-color: rgba(78, 69, 70, 0.075);
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
}

#containLeft {
    height: 100%;
    padding: 20px;
    width: 0%;
}

.channelCurrent {
    width: 7em;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 8px;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
}

#navDiv {
    border-color: rgba(78, 69, 70, 0.075);
    width: 100%;
    position: relative;
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
}

.ul .li .a::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    top: 100%;
    left: 20px;
    background: rgb(238, 3, 249);
    transition: transform 1s;
    transform: scaleX(0);
    transform-origin: right;
    box-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

.ul .li .a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.a:active {
    color: rgb(238, 3, 249);
    text-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

#conversationBoxWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.363);
    box-shadow: 10px 10px 20px -22px rgb(128, 128, 128);
    border-radius: 8px;
    margin-top: 4em;
    height: 70%;
    text-align: justify;
    word-break: break-all;
    overflow: scroll;
    overflow-x: hidden;
}

.conversationBox {
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    margin: 4px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    max-height: 500px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 800;
    font-family:'Mukta', sans-serif;
    margin: 15px;
    max-height:100%;
    box-sizing: border-box;
}

#conversationText {
    margin-left: 2em;
}

#sendButton {
    color: rgba(255, 255, 255, 0.514);
    background: rgb(238, 3, 249);
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
    border: none;
    width: 10%;
    font-size: 28px;
    font-weight: 800;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.555);
    border-radius: 5px;
    position: absolute;
    margin: 0;
    left: 70%;
}

.messageBox {
    bottom: 0;
    margin-bottom: 2em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.chat {
    display: flex;
}

#sendText {
    padding: 13px;
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.514);
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(238, 3, 249, 1) 14%, rgba(171, 17, 243, 1) 50%, rgba(98, 32, 237, 1) 100%);
}

#sendText:hover {
    cursor: pointer;
    box-shadow:
    inset 0 0 60px rgb(245, 245, 245),
    inset 20px 0 80px rgb(255, 0, 255),
    inset -20px 0 80px rgb(0, 255, 255),
    inset 20px 0 300px rgb(255, 0, 255),
    inset -20px 0 300px rgb(0, 255, 255),
    0 0 50px rgb(255, 255, 255),
    -10px 0 80px rgb(255, 0, 255),
    10px 0 80px rgb(0, 255, 255);
}

.nameDisplay {
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.score {
    color: rgb(255, 255, 255);
    text-align: center;
}

.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px
}

.gg-close::after, .gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.gg-close::after {
    transform: rotate(-45deg)
}

.profileImg {
    margin-left: 20px;
    background: rgb(238, 3, 249);
    border: 0.1em solid rgb(255, 185, 249);
    border-radius: 50%;
    height: 4em;
    width: 4em;
    box-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
}

.logo {
    background-image: url("/images/logo.svg");
    background-size: contain;
    height: 4em;
    width: 4em;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    margin: 2px;
}

.logo:hover{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#logoContainer {
    margin-top: 0.6em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#logoContainer>h1 {
    margin-top: -9px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 900;
}

#themesContainer {
    display: none;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-right: 2em;
    right: 0;
}

#themesContainer>div {
    margin: 10px;
}

#themesDropdownButton {
    color: rgba(190, 190, 190, 0.404);
text-decoration: none;
font-weight: bold;
font-size: 20px;
letter-spacing: 3px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgba(73, 73, 73, 0.616);
margin-top: 1em;
margin-right: 2.7em;
}

.themes:hover, #themesDropdownButton:hover {
    cursor: pointer;
    opacity: .6;
    color: rgb(238, 3, 249);
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(229, 23, 195, 0.8);
    
}

#themesContainer.show {
    display: flex;
    transition: ease-in;
    animation-duration: 4000ms;
}

/* DROP DOWN MENU */

/* for all the buttons to be icons */

#defaultTheme {
    background-color: rgb(99, 11, 139);
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
}

#spaceTheme {
    background-image: url("/images/space.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
}

#jungleTheme {
    background-image: url("/images/jungle.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
}

#medievalTheme {
    background-image: url("/images/dagon.png");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
}

#urbanTheme {
    background-image: url("/images/urban.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
}

#foodTheme {
    background-image: url("/images/food.svg");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
}

#oceanTheme {
    background-image: url("/images/ocean.png");
    height: 60px;
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    background-size: cover;
    background-position: center; 
}

/* changing the themes to what design we are wanting. use location wanting to change attached with theme. */

/* style for all the default theme items */

body.default {
    background-color: rgb(23, 28, 38);
}

body.default #defaultTheme {
    border: 0.1em solid rgb(163, 1, 163);
    box-shadow: 0px 0px 10px rgba(252, 13, 192, 0.8);
}

body.default .conversationBox {
    border: 1px solid rgb(163, 1, 163);
}

/* style for all the space theme items */

body.space {
    background-image: url("/images/space.svg");
}

body.space #sendText {
    background: rgb(233, 118, 204);
}

body.space .profileImg {
    background: rgb(233, 118, 204);
    border: 0.1em solid rgb(233, 118, 204);
    box-shadow: 0px 0px 10px rgba(233, 118, 204, 0.8);
}

body.space nav .li .a:hover {
    color: rgb(233, 118, 204);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(233, 118, 204, 0.8);
}

body.space .ul .li .a::after {
    background: rgb(233, 118, 204);
    box-shadow: 0px 0px 10px rgba(233, 118, 204, 0.8);
}

body.space #spaceTheme {
    border: 0.1em solid rgb(233, 118, 204);
    box-shadow: 0px 0px 10px rgba(233, 118, 204, 0.8);
}

body.space .conversationBox {
    background: linear-gradient(90deg, rgba(238,3,249,1) 14%, rgba(171,17,243,1) 50%, rgba(98,32,237,1) 100%);
    opacity: 0.8;
}

/* style for all the jungle theme items */

body.jungle {
    background-image: url("/images/jungle.svg");
    background-position: left; 
}

body.jungle #sendText {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

body.jungle .profileImg {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    border: 0.1em solid rgb(182, 244, 146);
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle nav .li .a:hover {
    color: rgb(182, 244, 146);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgb(182, 244, 146);
}

body.jungle .ul .li .a::after {
    background: rgb(182, 244, 146);
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle #jungleTheme {
    border: 0.1em solid rgb(182, 244, 146);
    box-shadow: 0px 0px 10px rgb(182, 244, 146);
}

body.jungle .conversationBox {
    background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
    opacity: 0.8;
}

/* style for all the medieval theme items */

body.medieval {
    background-image: url("/images/dagon.png");
    background-position: left; 
}

body.medieval #sendText {
    background-image: linear-gradient( 109.6deg, rgba(5,84,94,1) 16%, #bbb 91.1% );
}

body.medieval .profileImg {
    background: rgba(5,84,94,1);
    border: 0.1em solid rgba(5,84,94,1);
    box-shadow: 0px 0px 10px rgba(5,84,94,1);
}

body.medieval nav .li .a:hover {
    color: rgba(5,84,94,1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(5,84,94,1);
}

body.medieval .ul .li .a::after {
    background: rgba(5,84,94,1);
    box-shadow: 0px 0px 10px rgba(5,84,94,1);
}

body.medieval #medievalTheme {
    border: 0.1em solid rgba(5,84,94,1);
    box-shadow: 0px 0px 10px rgba(5,84,94,1);
}

body.medieval .conversationBox {
    background-image: linear-gradient( 109.6deg, rgba(5,84,94,1) 16%, #bbb 91.1% );
    opacity: 0.8;
}

/* style for all the urban theme items */

body.urban{
    background-image: url("/images/urban.svg");
    background-position: center top; 
}

body.urban #sendText {
    background-image: linear-gradient( 109.6deg,  rgba(253,199,141,1) 11.3%, rgba(249,143,253,1) 100.2% );
}

body.urban .profileImg {
    background: rgba(249,143,253,1);
    border: 0.1em solid rgba(249,143,253,1);
    box-shadow: 0px 0px 10px rgba(249,143,253,1);
}

body.urban nav .li .a:hover {
    color: rgba(249,143,253,1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(249,143,253,1);
}

body.urban .ul .li .a::after {
    background: rgba(249,143,253,1);
    box-shadow: 0px 0px 10px rgba(249,143,253,1);
}

body.urban #urbanTheme {
    border: 0.1em solid rgba(249,143,253,1);
    box-shadow: 0px 0px 10px rgba(249,143,253,1);
}

body.urban .conversationBox {
    border: 1px solid rgb(241, 207, 11);
    background-image: linear-gradient( 109.6deg,  rgba(253,199,141,1) 11.3%, rgba(249,143,253,1) 100.2% );
    opacity: 0.8;
}

/* style for all the food theme items */

body.food {
    background-image: url("/images/food.svg");
}

body.food #sendText {
    background: rgb(235, 5, 74);
}

body.food .profileImg {
    background: rgb(235, 5, 74);
    border: 0.1em solid rgb(235, 5, 74);
    box-shadow: 0px 0px 10px rgba(235, 5, 74, 0.8);
}

body.food nav .li .a:hover {
    color: rgb(235, 5, 74);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(235, 5, 74, 0.8);
}

body.food .ul .li .a::after {
    background: rgb(235, 5, 74);
    box-shadow: 0px 0px 10px rgba(235, 5, 74, 0.8);
}

body.food #foodTheme {
    border: 0.1em solid rgb(235, 5, 74);
    box-shadow: 0px 0px 10px rgba(235, 5, 74, 0.8);
}

body.food .conversationBox {
    border: 1px solid rgb(235, 5, 74);
}

/* style for all the ocean theme items */

body.ocean {
    background-image: url("/images/ocean.png");
}

body.ocean #sendText {
    background: rgba(149,245,211,1);
}

body.ocean .profileImg {
    background: rgba(149,245,211,1);
    border: 0.1em solid rgba(149,245,211,1);
    box-shadow: 0px 0px 10px rgba(149,245,211,1);
}

body.ocean nav .li .a:hover {
    color: rgb(17, 14, 247);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(17, 14, 247, 0.8);
}

body.ocean #sendText {
    background: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% );
}

body.ocean .profileImg {
    background: rgba(149,245,211,1);
    border: 0.1em solid rgba(149,245,211,1);
    box-shadow: 0px 0px 10px rgba(149,245,211,1);
}

body.ocean nav .li .a:hover {
    color: rgba(149,245,211,1);
    text-decoration: none;
    text-shadow: 0px 0px 8px rgba(149,245,211,1);
}

body.ocean .ul .li .a::after {
    background: rgba(149,245,211,1);
    box-shadow: 0px 0px 10px rgba(149,245,211,1);
}

body.ocean #oceanTheme {
    border: 0.1em solid rgba(149,245,211,1);
    box-shadow: 0px 0px 10px rgba(149,245,211,1);
}

body.ocean .conversationBox {
    border: 1px solid rgb(12, 49, 214);
    border: 1px solid rgba(149,245,211,1);
    background: linear-gradient( 110.5deg,  rgba(71,114,148,1) 14.9%, rgba(149,245,211,1) 77.9% );
}

.channels {
    border: solid 1px rgb(232, 3, 240);
    border-radius: 8px;
    padding: 4px;
}

.channels>div {
    padding: 4px;
}

.selectedChannel {
    background-color: rgb(240, 125, 144);
    border-radius: 8px;
}