<nav>
    <ul class="nav-links nav-active">
        <li><a href="/Dashboard"></a></li>

        <li><a href="/Channel">Channel</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
    <div class="burger toggle">
        <div class="menu-btn-burger"></div>
    </div>
</nav>