<div id="mainWrapper">
    <div id="navDiv">
        <nav>
            <ul class="nav-links nav-active">
                <div id="logoContainer">
                    <div class="logo"></div>
                </div>
                <li id="dashboardTitle"><a href="/dashboard">Dashboard</a></li>
                <li id="channelTitle"><a href="/channel">Channel</a></li>
                <div id="themesContainer">
                    <div class="themes" data-theme="default" id="defaultTheme">Default</div>
                    <div class="themes" data-theme="space" id="spaceTheme">Space</div>
                    <div class="themes" data-theme="jungle" id="jungleTheme">Jungle</div>
                    <div class="themes" data-theme="medieval" id="medievalTheme">Medieval</div>
                    <div class="themes" data-theme="urban" id="urbanTheme">Urban</div>
                    <div class="themes" data-theme="food" id="foodTheme">Food</div>
                    <div class="themes" data-theme="ocean" id="oceanTheme">Ocean</div>
                </div>
            </ul>
        </nav>
    </div>
    <div id="containLeft">
        <img src="/images/funny_profile.jpg" class="profileImg">
        <h2 class="nameDisplay">Name</h2>
        <div class="channelCurrent"></div>
    </div>
</div>
<div class="chatBox">
    <form class="chat">
        <input class="mesgChat" />
        <a id="sendText">Send</a>
    </form>
</div>