<div id="mainWrapper">
    <div id="navDiv">
        <nav>
            <div class="nav-links nav-active ul">
                <div id="logoContainer">
                    <div class="logo"></div>
                </div>
                <div id="guestContainer">
                    <div class="guestWrapper">
                        <h1 class="guestTitle">Guest</h1>
                        <form id="guestForm" method="POST" autocomplete="off">
                            <input id="guestUsername" type="text" placeholder="Display Name">
                        </form>
                        <div class="li" id="loginButton">Login</div>
                    </div>
                </div>

<div id="channelThemeWrapper">

                <div class="li" id="channelTitle">
                    <div class="a" id="channelContainer">
                        <p id="channelButton">Channel</p>
                        <div class="channels" id="channels">
                            <div class="channel">Lobby</div>
                            <div class="channel">Fun</div>
                            <div class="channel">Work</div>
                        </div>
                    </div>
                </div>
                <div id="themesDropdownContainer">
                    <div id="themesDropdownButton">
                        <p>Themes</p>
                    </div>
                    <div id="themesContainer" class="themeContent">
                        <div class="themes" data-theme="default" id="defaultTheme"></div>
                        <div class="themes" data-theme="space" id="spaceTheme"></div>
                        <div class="themes" data-theme="jungle" id="jungleTheme"></div>
                        <div class="themes" data-theme="medieval" id="medievalTheme"></div>
                        <div class="themes" data-theme="urban" id="urbanTheme"></div>
                        <div class="themes" data-theme="ocean" id="oceanTheme"></div>
                    </div>
                </div>

</div>

            </div>
        </nav>
    </div>
    <div id="containLeft">
        <img src="https://picsum.photos/200" class="profileImg">
        <h2 id="myUsername" class="nameDisplay">Name</h2>
        <div class="channelCurrent" id="userList"></div>
    </div>
    <div id="conversationBoxWrapper">
    </div>
</div>
<div class="messageBox">
    <form class="chat">
        <textarea rows="1" class="mesgChat" cols="50"></textarea>
        <div id="sendText">Send</div>
    </form>
</div>
</div>
