<div id="mainWrapper">
    <div id="navDiv">
        <img src="" class="logo" alt="Drocsid">
        <nav>
            <ul class="nav-links nav-active">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/channel">Channel</a></li>
            </ul>
        </nav>
    </div>
    <div id="containLeft">
        <img src="" class="profileImg">
        <h2 class="nameDisplay">Name</h2>
        <div class="channelCurrent"></div>
    </div>
</div>
<div class="chatBox">
    <form class="chat">
        <input class="mesgChat" />
        <button id="sendText">Send</button>
    </form>
</div>