
<div id="registerContainer">
  <div class="registerFormWrapper">
     <h1 class="registerTitle">Register</h1>
    <form id="registerForm" method="post">
      <input id="registerUsername" type="text" name="username" placeholder="Username">
      <br></br>
      <input id="registerPassword" type="password" name="" placeholder="Password">
      <br></br>
      <input id="registerConfirmPassword" type="password" name="" placeholder="Confirm Password">
      <br></br>
      <br></br>
      <button id="registerButton" type="button" name="register">
        <a href="/">Register</a>
      </button>
      <br></br>
    </form>
  </div>
</div>
