
<div id="registerContainer">
  <h1>Register</h1>

  <div class="registerFormWrapper">
    <form id="registerForm" method="post">
      <input id="registerUsername" type="text" name="username" placeholder="Username">
      <input id="registerPassword" type="password" name="" placeholder="Password">
      <input id="registerConfirmPassword" type="password" name="" placeholder="Confirm Password">
      <button id="registerButton" type="button" name="register">Register</button>
    </form>
  </div>
</div>
