<div id="registerContainer">
  <div class="registerFormWrapper">
     <h1 class="registerTitle">Login</h1>
    <form id="loginForm" method="post">
      <input id="registerUsername" type="text" name="username" placeholder="Username">
      <br></br>
      <input id="registerPassword" type="password" name="" placeholder="Password">
      <br></br>
      <button id="loginButton" type="button" name="Login">Login</button>
      <br></br>

      <h1 class="registerTitle">Guest</h1>
       <form id="guestForm" method="POST">
            <input type="text" placeholder="Display Name">
            <button id="loginGuest" type="button" name="Login">Login</button>
            <br></br>
            <br></br>
            <button id="register" type="button" name="Register">Not Registered?</button>
        </form>   
    </form>
  </div>
</div>





{{!-- <div id="welcomeContainer">
    <div id="loginContainer">
        <h1>Login</h1>
        <form id="loginForm" method="POST">
            <label>Username</label>
            <input type="text" placeholder="Username">
            <label>Password</label>
            <input type="password" placeholder="Password">
            <button class="loginButton">Login</button>
        </form>
    </div>
    <div id="guestContainer">
        <h1>Guest</h1>
        <form id="guestForm" method="POST">
            <label>Temp Name</label>
            <input type="text" placeholder="Temp Name">
            <button class="loginButton">Login</button>
        </form>
    </div>
    <div id="notRegisteredButton">
        <button>Not Registered?</button>
    </div>
</div> --}}