<div id="welcomeContainer">
    <div id="loginContainer">
        <h1>Login</h1>
        <form id="loginForm" method="POST">
            <label>Username</label>
            <input type="text" placeholder="Username">
            <label>Password</label>
            <input type="password" placeholder="Password">
            <button class="loginButton">Login</button>
        </form>
    </div>
    <div id="guestContainer">
        <h1>Guest</h1>
        <form id="guestForm" method="POST">
            <label>Temp Name</label>
            <input type="text" placeholder="Temp Name">
            <button class="loginButton">Login</button>
        </form>
    </div>
    <div id="notRegisteredButton">
        <button>Not Registered?</button>
    </div>
</div>