<div id="guestContainer">
    <div class="guestWrapper">
        <h1 class="guestTitle">Guest</h1>
        <form id="guestForm" method="POST">
            <input type="text" placeholder="Display Name">
        </form>
        <a id="loginGuest" href="/dashboard">Login</a>
    </div>
</div>